@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #95d5b2; 
  color: white;
}

.title{
  text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@layer utilities {
  .bg-leaves-pattern {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30,20 Q40,10 50,20 T70,20 T90,10 T80,30 T90,50 T70,60 T50,80 T30,60 T10,50 T20,30 Z' fill='%233b8a3f' fill-opacity='0.2'/%3E%3C/svg%3E");
    background-size: 150px;
  }  
}

.menu-item-card {
  background: #7D7C7C; 
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white; 
  margin-left: 4%;
  margin-right: 4%;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.Logo{
  margin-left: 4%;
  margin-top: -8%;
}


.cartImg{
margin-left: 80%;
margin-bottom:10% ;
}

.cartLink{
margin-left: 80%;
margin-bottom:10% ;
}

.MenuText{
   margin-left: 10%;
   color:white;
}

.cart-page{
  background-color: white;
  color: black
}

.cart-text{
  color: black;
  text-align: center;
   font-weight: 500; 
  letter-spacing: 0.5px; 
  text-transform: uppercase; 
  font-size: 2rem; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.yum{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white; 
  margin-left: 50%;
 }

.menu-item-name {
  margin-left: 3%;
  margin-right: 3%;
  letter-spacing: 1px;
  color: white; 
}

.ingredients-text {
  margin-left: 3%;
  margin-right: 3%;
  font-size: 0.8rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  color: #e2e8f0; 
}

.menu-item-price
{
  margin-left: 3%; 
}

.menu-item-card * {
  color: white;
  text-align: center;
}
.border-dotted {
  border-style: dotted !important;
}

.flex.items-center .border-dotted {
  vertical-align: middle;
}

.menu-item-name {
  font-weight: 500; 
  letter-spacing: 0.5px; 
  text-transform: uppercase; 
  font-size: 1.6rem; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-item-price {
  font-weight: 500; 
  font-size: 1.6rem; 
  color:white !important; 
}

.order-details{
  background-color:#7D7C7C; ;
  text-align: center;
  font-size: 2.5vh;
}

.ingredients-text {
  font-style: italic;
  letter-spacing: -0.1px;
  line-height: 1.4;
  color: #e2e8f0; 
  font-size: 1rem; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.border-dotted {
  border-top-style: dotted !important;
  border-top-width: 2px !important;
}


button {
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color:#8b8c89;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 4vh;
  width: 10vh;
  font-size: 1.3vh;
}



